<div id="main">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Moneda</h3>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"> <a href="/admin?ruta=inicio">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Moneda</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <section class="section">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal"
                        data-bs-target="#primary">
                        Registrar Moneda
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0" id="table1">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Nombre</th>
                                    <th>Valor Bs</th>
                                    <th>Valor $</th>
                                    <th>Status</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for datos in monedas %}
                                {% if datos.status != 2 %}

                                <tr>
                                    <td>{{ datos.cod_moneda }}</td>
                                    <td>{{ datos.nombre_moneda }}</td>
                                    <td>{{ '%.2f'|format(datos.valor_bs or 0) }} Bs</td>
                                    <td>{{ '%.2f'|format(datos.valor_usd or 0) }} $</td>

                                    <td>
                                        {% if datos.status == 1 %}
                                        <span class="badge bg-success">Activo</span>
                                        {% else %}
                                        <span class="badge bg-danger">Inactivo</span>
                                        {% endif %}
                                    </td>

                                    <td>
                                        <div class="buttons d-flex gap-2">

                                            <!-- EDITAR -->
                                            <button class="btn btn-primary btn-sm btn-editar" data-bs-toggle="modal"
                                                data-bs-target="#editModal"
                                                data-cod_moneda="{{ datos.cod_moneda }}"
                                                data-nombre_moneda="{{ datos.nombre_moneda }}"
                                                data-status="{{ datos.status }}" title="Editar">
                                                <i class="bi bi-pencil"></i>
                                            </button>

                                            <!-- ELIMINAR -->
                                            <button class="btn btn-danger btn-sm btn-eliminar" data-bs-toggle="modal"
                                                data-bs-target="#deleteModal"
                                                data-cod_moneda="{{ datos.cod_moneda }}"
                                                data-nombre_moneda="{{ datos.nombre_moneda }}"
                                                title="Eliminar">
                                                <i class="bi bi-trash"></i>
                                            </button>

                                        </div>
                                    </td>
                                </tr>

                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- Modal para registrar  moneda -->
                    <div class="modal fade text-left" id="primary" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel160" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-primary">
                                    <h5 class="modal-title white" id="myModalLabel160">Registrar Moneda</h5>
                                    <button type="button" class="close text-white" data-bs-dismiss="modal"
                                        aria-label="Close">
                                        <i data-feather="x"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="formRegistrarMoneda" method="post" data-parsley-validate>
                                        <!-- Campo oculto -->
                                        <input type="hidden" name="registrar" value="1">

                                        <div class="modal-body">

                                            <div class="form-group mb-3">
                                                <label for="nombre_moneda" style="font-weight: bold;">
                                                    <i class="fas fa-money-bill-wave"></i> Moneda <span
                                                        class="text-danger" style="font-size: 20px;"> *</span>
                                                </label>
                                                <button class="btn btn-xs" data-toggle="tooltip" data-placement="top"
                                                    title="Ingresa el Nombre de la Moneda.">
                                                    <i class="fas fa-info-circle"></i>
                                                </button>
                                                <input type="text" class="form-control"
                                                    placeholder="Nombre de la moneda" id="nombre_moneda"
                                                    name="nombre_moneda" required maxlength="15"
                                                    data-parsley-maxlength="15"
                                                    data-parsley-maxlength-message="Máximo 15 caracteres."
                                                    data-parsley-pattern="^[a-zA-ZÁÉÍÓÚáéíóúñÑ\s]+$"
                                                    data-parsley-pattern-message="Este campo solo se permiten letras."
                                                    data-parsley-required-message="Este campo es obligatorio.">
                                                <div class="invalid-feedback"></div>
                                            </div>
                                        </div>


                                        <div class="alert alert-light d-flex align-items-center"
                                            style="font-weight: bold;" role="alert">
                                            <i class="fas fa-exclamation-triangle mr-2"></i>
                                            <span>Todos los campos marcados con (*) son obligatorios</span>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light-secondary"
                                                data-bs-dismiss="modal" id="btnCerrarModal">
                                                <i class="bx bx-x d-block d-sm-none"></i>Cerrar</button>
                                            <button type="submit" class="btn btn-primary ms-1">
                                                <i class="bx bx-check d-block d-sm-none"></i>Guardar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- editar Moneda -->
                    <div class="modal fade text-left" id="editModal" tabindex="-1" role="dialog"
                        aria-labelledby="editModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-primary text-white">
                                    <h5 class="modal-title white" id="labelEditar">Editar Moneda</h5>
                                    <button type="button" class="close text-white" data-bs-dismiss="modal"
                                        aria-label="Close" id="btnClose">
                                        <i data-feather="x"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="formEdimoneda" method="post" data-parsley-validate>
                                        <!-- Campos ocultos -->
                                        <input type="hidden" name="actualizar" value="1">
                                        <input type="hidden" name="cod_moneda" id="edit_cod_moneda">

                                        <div class="form-group mb-3">
                                            <label for="edit_nombre_moneda"><i class="fas fa-money-bill-wave"></i>
                                                Moneda</label>
                                            <input type="text" class="form-control" name="nombre_moneda"
                                                id="edit_nombre_moneda" required maxlength="15"
                                                data-parsley-maxlength="15"
                                                data-parsley-maxlength-message="Máximo 15 caracteres."
                                                data-parsley-pattern="^[a-zA-ZÁÉÍÓÚáéíóúñÑ\s]+$"
                                                data-parsley-pattern-message="En este campo solo se permiten letras."
                                                data-parsley-required-message="Este campo es obligatorio.">
                                            <div class="invalid-feedback"></div>
                                        </div>

                                        <div class="form-group mb-3">
                                            <label for="edit_estado"><i class="bi bi-toggle-on"></i> Estado </label>
                                            <select name="status" id="edit_estado" class="form-select" required>
                                                <option value="">Seleccione un estado</option>
                                                <option value="1">Activo</option>
                                                <option value="0">Inactivo</option>
                                            </select>
                                        </div>
                                    </form>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal"
                                            id="btnCerrar">Cerrar</button>
                                        <button type="submit" class="btn btn-primary"
                                            form="formEdimoneda">Editar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- eliminar moneda -->
                    <div class="modal fade text-left" id="deleteModal" tabindex="-1" role="dialog"
                        aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-danger">
                                    <h5 class="modal-title white" id="deleteModalLabel">Confirmar Eliminación</h5>
                                    <button type="button" class="close text-white" data-bs-dismiss="modal"
                                        aria-label="Close">
                                        <i data-feather="x"></i>
                                    </button>
                                </div>
                                <form id="elimodal" method="post">
                                    <!-- Campo oculto -->
                                    <input type="hidden" name="eliminar" value="1">

                                    <div class="modal-body">
                                        <p>¿Desea eliminar esta moneda?</p>
                                        <input type="hidden" id="MonedaCod" name="cod_moneda" value="">
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary"
                                            data-bs-dismiss="modal">No</button>
                                        <button type="submit" class="btn btn-danger ms-1">Eliminar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
        </section>
    </div>
</div>



    <script src="{{ url_for('static', filename='assets/js/modulos-js/moneda.js') }}"></script>