<div id="main">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Unidad </h3>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"> <a href="/admin?ruta=inicio">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Unidad</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <section class="section">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal"
                        data-bs-target="#modalRegistrarUnidad">
                        Registrar Unidad
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0" id="table1">
                            <thead>
                                <tr>

                                    <th>Unidad</th>
                                    <th>Presentacion </th>
                                    <th>Medida</th>
                                    <th>Status</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for datos in unidad %}
                                {% if datos.status != 2 %}

                                <tr>

                                    <td>{{ datos.nombre_unidad }}</td>
                                    <td>{{ datos.presentacion }}</td>
                                    <td>{{ datos.medida }}</td>
                                    <td>
                                        {% if datos.status == 1 %}
                                        <span class="badge bg-success">Activo</span>
                                        {% else %}
                                        <span class="badge bg-danger">Inactivo</span>
                                        {% endif %}
                                    </td>

                                    <td>
                                        <div class="buttons d-flex gap-2">

                                            <!-- EDITAR -->
                                            <button class="btn btn-primary btn-sm btn-editar" data-bs-toggle="modal"
                                                data-bs-target="#modalEditarUnidad"
                                                data-cod_unidad="{{ datos.cod_unidad }}"
                                                data-nombre_unidad="{{ datos.nombre_unidad }}"
                                                data-cod_presentacion="{{ datos.cod_presentacion }}"
                                                data-cod_medida="{{ datos.cod_medida }}"
                                                data-status="{{ datos.status }}" title="Editar">

                                                <i class="bi bi-pencil"></i>
                                            </button>

                                            <!-- ELIMINAR -->
                                            <button class="btn btn-danger btn-sm btn-eliminar" data-bs-toggle="modal"
                                                data-bs-target="#modalEliminarUnidad"
                                                data-cod_unidad="{{ datos.cod_unidad }}"
                                                data-nombre_unidad="{{ datos.nombre_unidad }}" title="Eliminar">

                                                <i class="bi bi-trash"></i>
                                            </button>

                                        </div>
                                    </td>
                                </tr>

                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                    <!-- Modal para registrar unidad de medida -->
                    <div class="modal fade text-left" id="modalRegistrarUnidad" tabindex="-1" role="dialog"
                        aria-labelledby="modalRegistrarUnidadLabel" aria-hidden="true">

                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">

                                <!-- HEADER -->
                                <div class="modal-header bg-primary">
                                    <h5 class="modal-title text-white" id="modalRegistrarUnidadLabel">
                                        Registrar Unidad
                                    </h5>

                                    <button type="button" class="close text-white" data-bs-dismiss="modal">
                                        <i data-feather="x"></i>
                                    </button>
                                </div>

                                <!-- FORM -->
                                <form id="formRegistrarUnidad" method="POST">

                                    <div class="modal-body"
                                        style="max-height: 70vh; overflow-y: auto; overflow-x: hidden;">

                                        <input type="hidden" name="registrar" value="1">

                                        <!-- NOMBRE UNIDAD -->
                                        <div class="row mb-3">
                                            <div class="col-md-12">

                                                <label for="nombre_unidad_reg" style="font-weight: bold;">
                                                    <i class="bi bi-box"></i> Unidad
                                                    <span class="text-danger" style="font-size: 20px;">*</span>
                                                </label>

                                                <button class="btn btn-xs" data-toggle="tooltip"
                                                    title="Ingrese el nombre de la unidad.">
                                                    <i class="fas fa-info-circle"></i>
                                                </button>

                                                <input type="text" class="form-control" id="nombre_unidad_reg"
                                                    name="nombre_unidad" required maxlength="3"
                                                    placeholder="Ej: 7, 12, 18" required
                                                    data-parsley-required-message="Este campo es obligatorio.">
                                            </div>
                                        </div>

                                        <!-- PRESENTACIÓN -->
                                        <div class="row mb-3">
                                            <div class="col-md-12">

                                                <label for="cod_presentacion_reg" style="font-weight: bold;">
                                                    <i class="bi bi-box-seam"></i> Presentación
                                                    <span class="text-danger" style="font-size: 20px;">*</span>
                                                </label>

                                                <button class="btn btn-xs" data-toggle="tooltip"
                                                    title="Seleccione la presentación.">
                                                    <i class="fas fa-info-circle"></i>
                                                </button>

                                                <select class="form-select" id="cod_presentacion_reg"
                                                    name="cod_presentacion" required  data-parsley-required-message="Este campo es obligatorio.">

                                                    <option value="">Seleccione una presentación</option>

                                                    {% for p in presentaciones %}
                                                    <option value="{{ p.cod_presentacion }}">
                                                        {{ p.presentacion }}
                                                    </option>
                                                    {% endfor %}

                                                </select>

                                            </div>
                                        </div>

                                        <!-- MEDIDA -->
                                        <div class="row mb-3">
                                            <div class="col-md-12">

                                                <label for="cod_medida_reg" style="font-weight: bold;">
                                                    <i class="bi bi-rulers"></i> Medida
                                                    <span class="text-danger" style="font-size: 20px;">*</span>
                                                </label>

                                                <button class="btn btn-xs" data-toggle="tooltip"
                                                    title="Seleccione la medida.">
                                                    <i class="fas fa-info-circle"></i>
                                                </button>

                                                <select class="form-select" id="cod_medida_reg" name="cod_medida"
                                                    required  data-parsley-required-message="Este campo es obligatorio.">

                                                    <option value="">Seleccione una medida</option>

                                                    {% for m in medidas %}
                                                    <option value="{{ m.cod_medida }}">
                                                        {{ m.medida }}
                                                    </option>
                                                    {% endfor %}

                                                </select>

                                            </div>
                                        </div>

                                    </div>

                                    <!-- ALERTA -->
                                    <div class="alert alert-light d-flex align-items-center mb-0"
                                        style="font-weight: bold;">
                                        <i class="fas fa-exclamation-triangle mr-2"></i>
                                        <span>Todos los campos marcados con (*) son obligatorios</span>
                                    </div>

                                    <!-- FOOTER -->
                                    <div class="modal-footer" style="position: sticky; bottom: 0; background: #fff;">

                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Cerrar
                                        </button>

                                        <button type="submit" class="btn btn-primary">
                                            Guardar
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>


                    <div class="modal fade text-left" id="modalEditarUnidad" tabindex="-1" role="dialog"
                        aria-labelledby="modalEditarUnidadLabel" aria-hidden="true">

                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">

                                <!-- HEADER -->
                                <div class="modal-header bg-primary">
                                    <h5 class="modal-title text-white" id="modalEditarUnidadLabel">
                                        Editar Unidad
                                    </h5>

                                    <button type="button" class="close text-white" data-bs-dismiss="modal">
                                        <i data-feather="x"></i>
                                    </button>
                                </div>

                                <!-- FORM -->
                                <form id="formEditarUnidad" method="POST">

                                    <div class="modal-body">

                                        <input type="hidden" name="actualizar" value="1">
                                        <input type="hidden" id="cod_unidad_edit" name="cod_unidad">

                                        <!-- NOMBRE UNIDAD -->
                                        <div class="row mb-3">
                                            <div class="col-md-12">

                                                <label for="nombre_unidad_edit">
                                                    <i class="bi bi-box"></i> Unidad
                                                </label>

                                                <input type="text" class="form-control" id="nombre_unidad_edit"
                                                    name="nombre_unidad" required maxlength="3"
                                                    placeholder="Ej: 7, 12, 18" required
                                                    data-parsley-pattern-message="Solo se permiten letras."
                                                    data-parsley-required-message="Este campo es obligatorio.">

                                            </div>
                                        </div>

                                        <!-- PRESENTACIÓN -->
                                        <div class="row mb-3">
                                            <div class="col-md-12">

                                                <label for="cod_presentacion_edit">
                                                    <i class="bi bi-box-seam"></i> Presentación
                                                </label>

                                                <select id="cod_presentacion_edit" name="cod_presentacion"
                                                    class="form-select" required>

                                                    {% for p in presentaciones %}
                                                    <option value="{{ p.cod_presentacion }}">
                                                        {{ p.presentacion }}
                                                    </option>
                                                    {% endfor %}

                                                </select>

                                            </div>
                                        </div>

                                        <!-- MEDIDA -->
                                        <div class="row mb-3">
                                            <div class="col-md-12">

                                                <label for="cod_medida_edit">
                                                    <i class="bi bi-rulers"></i> Medida
                                                </label>

                                                <select id="cod_medida_edit" name="cod_medida" class="form-select"
                                                    required>

                                                    {% for m in medidas %}
                                                    <option value="{{ m.cod_medida }}">
                                                        {{ m.medida }}
                                                    </option>
                                                    {% endfor %}

                                                </select>

                                            </div>
                                        </div>

                                        <!-- STATUS -->
                                        <div class="row mb-3">
                                            <div class="col-md-12">

                                                <label for="status_unidad_edit">
                                                    <i class="bi bi-toggle-on"></i> Estado
                                                </label>

                                                <select id="status_unidad_edit" name="status" class="form-select">

                                                    <option value="1">Activo</option>
                                                    <option value="0">Inactivo</option>

                                                </select>

                                            </div>
                                        </div>

                                    </div>

                                    <!-- FOOTER -->
                                    <div class="modal-footer">

                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Cerrar
                                        </button>

                                        <button type="submit" class="btn btn-primary">
                                            Guardar cambios
                                        </button>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Modal eliminar unidad  -->
                    <div class="modal fade text-left" id="modalEliminarUnidad" tabindex="-1" role="dialog"
                        aria-labelledby="modalEliminarUnidadLabel" aria-hidden="true">

                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">

                                <!-- HEADER -->
                                <div class="modal-header bg-danger">
                                    <h5 class="modal-title text-white" id="modalEliminarUnidadLabel">
                                        Confirmar Eliminación
                                    </h5>

                                    <button type="button" class="close text-white" data-bs-dismiss="modal">
                                        <i data-feather="x"></i>
                                    </button>
                                </div>

                                <!-- FORM -->
                                <form id="formEliminarUnidad" method="POST">

                                    <div class="modal-body">

                                        <input type="hidden" name="eliminar" value="1">
                                        <input type="hidden" name="cod_unidad" id="cod_unidad_eliminar">

                                        <p>
                                            ¿Desea eliminar la unidad
                                            <strong id="nombre_unidad"></strong>?
                                        </p>

                                    </div>

                                    <!-- FOOTER -->
                                    <div class="modal-footer">

                                        <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">
                                            No
                                        </button>

                                        <button type="submit" class="btn btn-danger">
                                            Eliminar
                                        </button>

                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>


                </div>
        </section>
    </div>
</div>
<script src="{{ url_for('static', filename='/assets/js/modulos-js/unidad.js') }}"></script>