<div id="main">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Usuarios</h3>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"> <a href="/admin?ruta=inicio">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <section class="section">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal"
                        data-bs-target="#primary">
                        Registrar Usuarios
                    </button>
                </div>
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered mb-0" id="table1">
                            <thead>
                                <tr>
                                    <th>Cédula</th>
                                    <th>User</th>
                                    <th>Rol</th>
                                    <th>Status</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for datos in usuarios %}
                                {% if datos.status != 2 %}

                                <tr>
                                    <td>{{ datos.cedula }}</td>
                                    <td>{{ datos.nombre_usuario }}</td>
                                    <td>{{ datos.rol }}</td>

                                    <td data-status="{{ datos.status }}">
                                        {% if datos.status == 1 %}
                                        <span class="badge bg-success">Activo</span>
                                        {% else %}
                                        <span class="badge bg-danger">Inactivo</span>
                                        {% endif %}
                                    </td>

                                    <td>
                                        <div class="d-flex gap-2">

                                            <!-- BOTÓN EDITAR -->
                                            <button class="btn btn-primary btn-sm btn-editar" data-bs-toggle="modal"
                                                data-bs-target="#editModal" data-cedula="{{ datos.cedula }}"
                                                data-nombre="{{ datos.nombre_usuario }}"
                                                data-apellido="{{ datos.apellido_usuario }}"
                                                data-telefono="{{ datos.telefono }}"
                                                data-direccion="{{ datos.direccion }}" data-correo="{{ datos.correo }}"
                                                data-rol="{{ datos.cod_rol }}" data-status="{{ datos.status }}"
                                                title="Editar">
                                                <i class="bi bi-pencil"></i>
                                            </button>

                                            <!-- BOTÓN ELIMINAR -->
                                            <button class="btn btn-danger btn-sm btn-eliminar" data-bs-toggle="modal"
                                                data-bs-target="#deleteModal" data-cedula="{{ datos.cedula }}"
                                                data-nombre="{{ datos.nombre_usuario }}" title="Eliminar">
                                                <i class="bi bi-trash"></i>
                                            </button>

                                        </div>
                                    </td>
                                </tr>

                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                    <!-- Modal para registrar Usuarios -->
                    <div class="modal fade text-left" id="primary" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel160" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <!-- Header del modal -->
                                <div class="modal-header bg-primary">
                                    <h5 class="modal-title white" id="myModalLabel160">Registrar Usuarios</h5>
                                    <button type="button" class="close text-white" data-bs-dismiss="modal"
                                        aria-label="Close" id="btnClose">
                                        <i data-feather="x"></i>
                                    </button>
                                </div>

                                <!-- Cuerpo del modal -->
                                <div class="modal-body">
                                    <form id="fromUsuarios" method="post" data-parsley-validate>
                                        <!-- Campo oculto -->
                                        <input type="hidden" name="registrar" value="1">
                                        <div class="modal-body">
                                            <!-- Cédula y Usuario -->
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <label for="cedula" style="font-weight: bold;">
                                                        <i class="bi bi-person-badge"></i> Cédula <span
                                                            class="text-danger" style="font-size: 20px;">*</span>
                                                    </label>
                                                    <button class="btn btn-xs" data-toggle="tooltip"
                                                        data-placement="top" title="Ingrese la cédula."
                                                        style="font-weight: bold;">
                                                        <i class="fas fa-info-circle"></i>
                                                    </button>
                                                    <input type="text" class="form-control" placeholder="Cédula"
                                                        id="cedula" name="cedula" required required maxlength="12"
                                                        data-parsley-pattern="^\d{1,10}$"
                                                        data-parsley-pattern-message="La cédula debe contener solo números."
                                                        data-parsley-required-message="Este campo es obligatorio."
                                                        style="font-weight: bold;">
                                                    <div class="invalid-feedback" style="font-weight: bold;"></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="nombre_usuario" style="font-weight: bold;">
                                                        <i class="bi bi-person"></i> Usuario <span class="text-danger"
                                                            style="font-size: 20px;">*</span>
                                                    </label>
                                                    <button class="btn btn-xs" data-toggle="tooltip"
                                                        data-placement="top" title="Ingrese el nombre de usuario."
                                                        style="font-weight: bold;">
                                                        <i class="fas fa-info-circle"></i>
                                                    </button>
                                                    <input type="text" class="form-control"
                                                        placeholder="Nombre de Usuario" id="nombre_usuario"
                                                        name="nombre_usuario" required maxlength="14"
                                                        data-parsley-pattern="/^[a-zA-ZÁÉÍÓÚáéíóúÑñ\s]+$/"
                                                        data-parsley-pattern-message="En este campo solo se permiten letras."
                                                        data-parsley-required-message="Este campo es obligatorio."
                                                        style="font-weight: bold;">
                                                    <div class="invalid-feedback" style="font-weight: bold;"></div>
                                                </div>
                                            </div>

                                            <!-- Apellido y Teléfono -->
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <label for="apellido_usuario_reg" style="font-weight: bold;"><i
                                                            class="bi bi-person-check"></i> Apellido<span
                                                            class="text-danger"
                                                            style="font-size: 20px;">*</span></label>
                                                    <button class="btn btn-xs" data-toggle="tooltip"
                                                        data-placement="top" title="Ingrese el apellido."
                                                        style="font-weight: bold;">
                                                        <i class="fas fa-info-circle"></i>
                                                    </button>
                                                    <input type="text" class="form-control" id="apellido_usuario_reg"
                                                        name="apellido_usuario" placeholder="Apellido" required
                                                        maxlength="10"
                                                        data-parsley-pattern="/^[a-zA-ZÁÉÍÓÚáéíóúÑñ\s]+$/"
                                                        data-parsley-pattern-message="En este campo solo se permiten letras."
                                                        data-parsley-required-message="Este campo es obligatorio."
                                                        style="font-weight: bold;">
                                                    <div class="invalid-feedback" style="font-weight: bold;"></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="telefono_reg" style="font-weight: bold;"><i
                                                            class="bi bi-telephone"></i> Teléfono<span
                                                            class="text-danger"
                                                            style="font-size: 20px;">*</span></label>
                                                    <button class="btn btn-xs" data-toggle="tooltip"
                                                        data-placement="top" title="Ingrese el número telefónico."
                                                        style="font-weight: bold;">
                                                        <i class="fas fa-info-circle"></i>
                                                    </button>
                                                    <input type="text" class="form-control" id="telefono_reg"
                                                        name="telefono" placeholder="Número telefónico" required
                                                        maxlength="12" data-parsley-type="digits"
                                                        data-parsley-type-message="En este campo solo se permiten números."
                                                        data-parsley-required-message="Este campo es obligatorio."
                                                        style="font-weight: bold;">
                                                    <div class="invalid-feedback" style="font-weight: bold;"></div>
                                                </div>
                                            </div>

                                            <!-- Dirección y Correo -->
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <label for="direccion_reg" style="font-weight: bold;"><i
                                                            class="bi bi-house"></i> Dirección<span class="text-danger"
                                                            style="font-size: 20px;">*</span></label>
                                                    <button class="btn btn-xs" data-toggle="tooltip"
                                                        data-placement="top" title="Ingrese la dirección"
                                                        style="font-weight: bold;">
                                                        <i class="fas fa-info-circle"></i>
                                                    </button>
                                                    <input type="text" class="form-control" id="direccion_reg"
                                                        name="direccion" placeholder="Dirección" required maxlength="42"
                                                        data-parsley-pattern="^[a-zA-Z0-9ÁÉÍÓÚáéíóúÑñ\s.,#\-\/()]+$"
                                                        data-parsley-pattern-message="En este campo Solo se permiten letras, números y signos básicos."
                                                        data-parsley-required-message="Este campo es obligatorio."
                                                        style="font-weight: bold;">
                                                    <div class="invalid-feedback" style="font-weight: bold;"></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="correo_reg" style="font-weight: bold;"><i
                                                            class="bi bi-envelope"></i> Correo<span class="text-danger"
                                                            style="font-size: 20px;">*</span></label>
                                                    <button class="btn btn-xs" data-toggle="tooltip"
                                                        data-placement="top" title="Ingrese el correo electrónico."
                                                        style="font-weight: bold;">
                                                        <i class="fas fa-info-circle"></i>
                                                    </button>
                                                    <input type="email" class="form-control" id="correo_reg"
                                                        name="correo" placeholder="Correo electrónico" required
                                                        maxlength="60" data-parsley-type="email"
                                                        data-parsley-required-message="Este campo es obligatorio."
                                                        data-parsley-type-message="Ingrese un correo válido."
                                                        style="font-weight: bold;">
                                                    <div class="invalid-feedback" style="font-weight: bold;"></div>
                                                </div>
                                            </div>

                                            <!-- Contraseña -->
                                            <div class="form-group mb-3">
                                                <label for="password" style="font-weight: bold;"><i
                                                        class="bi bi-lock"></i> Contraseña <span class="text-danger"
                                                        style="font-size: 20px;">*</span></label>
                                                <button class="btn btn-xs" data-toggle="tooltip" data-placement="top"
                                                    title="Ingrese la contraseña." style="font-weight: bold;">
                                                    <i class="fas fa-info-circle"></i>
                                                </button>
                                                <div class="input-group">
                                                    <input type="password" class="form-control" placeholder="Contraseña"
                                                        id="password" name="password" required maxlength="9"
                                                        data-parsley-required-message="Este campo es obligatorio."
                                                        data-parsley-minlength="6"
                                                        data-parsley-minlength-message="La contraseña debe tener al menos 6 caracteres."
                                                        style="font-weight: bold;">
                                                    <div class="invalid-feedback" style="font-weight: bold;"></div>
                                                    <span class="input-group-text" id="togglePassword"
                                                        style="cursor: pointer; font-weight: bold;">
                                                        <i class="bi bi-eye" id="eyeIcon"></i>
                                                    </span>
                                                </div>
                                            </div>

                                            <!-- Rol -->
                                            <div class="form-group mb-3">
                                                <label for="cod_rol_edit" style="font-weight: bold;">
                                                    <i class="bi bi-person-lines-fill"></i> Rol
                                                    <span class="text-danger" style="font-size: 20px;">*</span>
                                                </label>

                                                <button class="btn btn-xs" data-toggle="tooltip" data-placement="top"
                                                    title="Selecciona el rol." style="font-weight: bold;">
                                                    <i class="fas fa-info-circle"></i>
                                                </button>

                                                <select class="form-select" id="cod_rol_edit" name="cod_rol" required
                                                    data-parsley-required-message="Este campo es obligatorio.">

                                                    <option value="">Seleccione un rol</option>

                                                    {% for rol in roles %}
                                                    <option value="{{ rol.cod_rol }}">
                                                        {{ rol.rol }}
                                                    </option>
                                                    {% endfor %}

                                                </select>

                                                <div class="invalid-feedback"></div>
                                            </div>
                                        </div>

                                        <!-- Alert Message -->
                                        <div class="alert alert-light d-flex align-items-center" role="alert"
                                            style="font-weight: bold;">
                                            <i class="fas fa-exclamation-triangle mr-2"></i>
                                            <span>Todos los campos marcados con (*) son obligatorios</span>
                                        </div>

                                        <!-- Footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light-secondary"
                                                data-bs-dismiss="modal" id="btnCerrarModal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                Cerrar
                                            </button>
                                            <button type="submit" class="btn btn-primary ms-1" form="fromUsuarios">
                                                Guardar
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Modal para editar Usuarios -->
                    <div class="modal fade text-left" id="editModal" tabindex="-1" aria-labelledby="editModalLabel">

                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">

                                <div class="modal-header bg-primary text-white">
                                    <h5 class="modal-title white" id="editModalLabel">Editar Usuario</h5>
                                    <button type="button" class="close text-white" data-bs-dismiss="modal"
                                        aria-label="Close" id="btnClose"><i data-feather="x"></i></button>
                                </div>

                                <div class="modal-body">
                                    <form id="formEditarusuario" method="post" data-parsley-validate>
                                        <input type="hidden" name="actualizar" value="1"><!-- campo oculto -->

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="cedula_edit"><i class="bi bi-person-badge"></i> Cédula
                                                </label>
                                                <input type="text" class="form-control" id="cedula_edit" name="cedula"
                                                    required readonly data-parsley-pattern="^\d{1,10}$"
                                                    data-parsley-pattern-message="La cédula debe contener solo números."
                                                    data-parsley-required-message="Este campo es obligatorio.">
                                                <div class="invalid-feedback"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="nombre_usuario_edit"><i class="bi bi-person"></i> Usuario
                                                </label>
                                                <input type="text" class="form-control" id="nombre_usuario_edit"
                                                    name="nombre_usuario" required maxlength="13"
                                                    data-parsley-pattern="/^[a-zA-ZÁÉÍÓÚáéíóúÑñ\s]+$/"
                                                    data-parsley-pattern-message="Solo se permiten letras."
                                                    data-parsley-required-message="Este campo es obligatorio.">
                                                <div class="invalid-feedback"></div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="apellido_usuario_edit"><i class="bi bi-person-check"></i>
                                                    Apellido</label>
                                                <input type="text" class="form-control" id="apellido_usuario_edit"
                                                    name="apellido_usuario" placeholder="Apellido" required
                                                    maxlength="10" data-parsley-pattern="/^[a-zA-ZÁÉÍÓÚáéíóúÑñ\s]+$/"
                                                    data-parsley-pattern-message="En este campo solo se permiten letras."
                                                    data-parsley-required-message="Este campo es obligatorio.">
                                                <div class="invalid-feedback"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="telefono_edit"><i class="bi bi-telephone"></i>
                                                    Teléfono</label>
                                                <input type="text" class="form-control" id="telefono_edit"
                                                    name="telefono" placeholder="Número telefónico" required
                                                    maxlength="12" data-parsley-type="digits"
                                                    data-parsley-type-message="En este campo solo se permiten números."
                                                    data-parsley-required-message="Este campo es obligatorio.">
                                                <div class="invalid-feedback"></div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="direccion_edit"><i class="bi bi-house"></i>
                                                    Dirección</label>
                                                <input type="text" class="form-control" id="direccion_edit"
                                                    name="direccion" placeholder="Dirección" required maxlength="60"
                                                    data-parsley-pattern="^[a-zA-Z0-9ÁÉÍÓÚáéíóúÑñ\s.,#\-\/()]+$"
                                                    data-parsley-pattern-message="En este campo solo se permiten letras, números y signos básicos."
                                                    data-parsley-required-message="Este campo es obligatorio.">
                                                <div class="invalid-feedback"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="correo_edit"><i class="bi bi-envelope"></i> Correo</label>
                                                <input type="email" class="form-control" id="correo_edit" name="correo"
                                                    placeholder="Correo electrónico" required maxlength="50"
                                                    data-parsley-type="email"
                                                    data-parsley-type-message="Ingrese un correo válido."
                                                    data-parsley-required-message="Este campo es obligatorio.">
                                                <div class="invalid-feedback"></div>
                                            </div>
                                        </div>

                                        <!-- Botón cambiar contraseña -->
                                        <div class="form-group">
                                            <button type="button" class="btn btn-dark" id="changePasswordBtn">Cambiar
                                                contraseña</button>
                                        </div>

                                        <!-- Campo de contraseña oculto -->
                                        <div class="form-group" id="passwordField" style="display: none;">
                                            <label for="password_edit">Nueva Contraseña</label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" id="password_edit"
                                                    name="password" placeholder="Ingrese la nueva contraseña"
                                                    maxlength="9" data-parsley-minlength="6"
                                                    data-parsley-minlength-message="La contraseña debe tener al menos 6 caracteres.">
                                                <span class="input-group-text" id="togglePasswordEdit"
                                                    style="cursor: pointer;">
                                                    <i class="bi bi-eye" id="eyeIconEdit"></i>
                                                </span>
                                            </div>
                                            <div class="invalid-feedback" style="display: none;">
                                                La contraseña debe tener al menos 6 caracteres.
                                            </div>
                                        </div>

                                        <!-- Rol -->
                                        <div class="form-group mb-3">
                                            <label for="cod_rol_edit"><i class="bi bi-person-lines-fill"></i> Rol
                                            </label>
                                            <select class="form-select" id="cod_rol_edit" name="cod_rol" required
                                                data-parsley-required-message="Este campo es obligatorio.">
                                                <option value="">Seleccione un rol</option>

                                                {% for rol in roles %}
                                                <option value="{{ rol.cod_rol }}">
                                                    {{ rol.rol }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <!-- Estado -->
                                        <div class="form-group mb-3">
                                            <label for="status_edit"><i class="bi bi-toggle-on"></i> Estado</label>
                                            <select name="status" id="status_edit" class="form-select" required>
                                                <option value="" selected disabled>Seleccione un estado</option>
                                                <option value="1">Activo</option>
                                                <option value="0">Inactivo</option>
                                            </select>
                                        </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal"
                                        id="btnCerrar">Cerrar</button>
                                    <button type="submit" class="btn btn-primary"
                                        form="formEditarusuario">Editar</button>
                                </div>

                                </form>
                            </div>
                        </div>
                    </div>


                    <!-- eliminar usuarios -->
                    <div class="modal fade text-left" id="deleteModal" tabindex="-1" role="dialog"
                        aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-danger">
                                    <h5 class="modal-title white" id="deleteModalLabel">Confirmar Eliminación</h5>
                                    <button type="button" class="close text-white" data-bs-dismiss="modal"
                                        aria-label="Close">
                                        <i data-feather="x"></i>
                                    </button>
                                </div>
                                <form id="elimodal" method="post">
                                    <input type="hidden" name="eliminar" value="1"><!-- campo oculto-->
                                    <div class="modal-body">
                                        <p>¿Desea eliminar al usuario <strong id="nombreEliminar"></strong>?</p> <input
                                            type="hidden" id="usuariosdCedula" name="cedula" value="">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary"
                                            data-bs-dismiss="modal">No</button>
                                        <button type="submit" class="btn btn-danger ms-1">Eliminar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
    </div>
    <script src="{{ url_for('static', filename='/assets/js/modulos-js/usuarios.js') }}"></script>


</div>